body{
	color: rgb(50,50,50);
	font-family: 'Noto Sans', sans-serif;
	background-color: #FFFFFF;
}
.poule{
	background-color:#99A9CE;
	color: rgb(50,50,50);
	margin: 10px;
	padding: 10px;
	font-size:20px;
	transition: 0.5s;
	border-radius: 10%
}

button.poule:hover{
	background-color: #CCCCFF;
	font-size: 25px;
	transition: 0.5s;
	border-radius: 10%;
	margin:5px;
}

h1{
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	color:#37519C;
	border-bottom: 3px solid  #CCCCFF;
	margin:5px;
	padding: 5px;
	
}
span.h1{
	border-top:3px solid #CCCCFF;
	border-right:3px solid #CCCCFF;
}

img.displayed{
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 200px;
 width: auto;
}
.divlogo{
	background-color:#99A9CE;
}

.intro{
	text-align: center;
	padding: 5px;
	margin: 5px;
	border-top: 3px solid  #CCCCFF;
	border-bottom: 3px solid  #CCCCFF;
	font-weight: 700;
	
	}

img.oss{
	margin: 25px;
	padding:15px;
}
img.drapeau{
	height: 18px;
	width: 24px;
	padding: 3px;

}
.table{
	background-color: #F9F9F9;
}

.titretable{
	background-color:#99A9CE; 
}
.table-qualif{
	background-color: #CCCCFF;
}
#tablejapon{
	background-color: #CCCCFF;
}

