body{
	color: rgb(50,50,50);
	font-family: 'Noto Sans', sans-serif;
	background-color: #FFFFFF;
}

button.poule{
	background-color:#99A9CE;
	color: rgb(50,50,50);
	margin: 10px;
	padding: 10px;
	font-size:20px;
	transition: 0.5s;
	border-radius: 10%;
	border:2px solid #37519C;
}

button.poule:hover{
	background-color: #CCCCFF;
	font-size: 25px;
	transition: 0.5s;
	border-radius: 10%;
	margin:5px;
	border:2px solid #37519C;
}

h1{
	text-align: center;
	text-shadow: 1px 1px 3px #C4BABA;
	color:#37519C;
	border-bottom: 3px solid  #CCCCFF;
	margin:15px;
	padding: 5px;	
}

h3{
	font-size: 15px;
	text-decoration: underline;
	color:#37519C;
}

	
.centrer{
	display: block;
	margin-left: 15px;
	margin-right:15px;
}

img.displayed{ 
display:block;
 height: 200px;
 width: auto;
 margin:0px auto;

}
.block{
	display: inline-block;
	background-color:#99A9CE;
	width: 600px;
	height: 250px;
	border-radius: 50px;
	padding: 5px;
	margin: 5px;
	border:2px solid #37519C;

}

.intro{
	padding: 15px;
	margin: 15px;
	border-top: 3px solid  #CCCCFF;
	border-bottom: 3px solid  #CCCCFF;
	font-weight: 700;
}
.dialogue{
	padding: 5px;
}	

.clear{
	clear: left;
}
.alignementlogo{
	display: block;
	margin-left: 15px;
	margin-right: 15px
	margin-top:15px;
	margin-bottom: 15px;
}

img.drapeau {
	height: 18px ;
	width: 24px ;
	padding: 3px ;
	margin:3px ;
}

img.equipelogo {
	height: 70px;
	width: 70px ;
	margin: 15px;
}

.table{
	background-color: #F9F9F9;
}

.titretable{
	background-color:#99A9CE; 
}
.table-qualif{
	background-color: #CCCCFF;
}
#tablejapon{
	background-color: #CCCCFF;
}	
ul.unstyled{
	list-style: none;
	text-align: center;
}

li.titreliste{
	padding: 5px;
	text-decoration: underline;
}

span.score{
 color: white;
 background-color:#635B54;
 padding: 4px;
 margin: 8px;
 vertical-align: middle;
}

li.resultatsemaine{
	padding: 3px;
	margin: 3px;
}

img.carouselbtn{
	height: 40px;
	width: auto;
}

span.date{
	background-color:#EEEEEE;
	padding: 4px;
	margin: 8px; 
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-inner {
   margin-bottom:50px;
}

span.loser{
	opacity: 0.65;
}

p.resultatgroupeB{
	text-align: center;
}

div.paysgauche{
	padding-left: 5px;
}

.rowborder{
	border-bottom: 1px solid #CCCCFF;
}